canvas {

	background-image: url("img/background.gif");
	background-size: cover;
	background-position: center;
	z-index: 0;
	position: relative;
	width: 80%;
	height: 80%;
	text-align: center;
	margin: 0 auto;
}

#info {
	color: black;
	background-color: white;
	float: right;
	z-index: 1;
	position: absolute;
}
